body {
  background-color: #e6e6e6;
  color: #27374c;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  z-index: -5;
}
// empty

.empty {
  padding: 10% 20%;
  font-size: 28px;
}

.no-trips {
  color: lightgray;
  padding: 20px;
}
