div.profile {
  display: flex;
  font-size: 20px;
  box-shadow: 2px solid gray;
}

section.profile-header h3, h4, div {
  text-align: center;
}

.profile-header {
  height: 500px;
  background-color: white;
  margin: 40px;
  width: 20%;
  height: 590px;
}

div.profile-information {
  background-color: white;
  margin: 40px;
  width: 70%;
}

.profile-about-me {
  font-size: 24px;
}
