div.profile {
  box-shadow: 2px solid gray;
  display: flex;
  font-size: 20px;
  text-align: left;
  margin: 20px 0 0 0;
}

section.profile-header {
  text-align: center;
  text-transform: capitalize;
}

h4#profile-home {
  border-bottom: none;
}

div.profile-info {
  display: flex;
  padding: 0 20px;
  margin: 10px 8%;
  justify-content: left;

  h4 {
    min-width: 10%;
  }

  div {
    justify-content: space-around;
  }
}

div.profile-info {
  div {
    margin: 0 30px;
  }
}

.profile-header {
  background-color: white;
  border-radius: 2px;
  box-shadow: 2px 2px 2px lightgrey;
  padding: 10px 10px 20px 10px;
  margin: 0 0 10px 10px;
  flex: 1 0 0;
}

.personal-information {
  font-size: 56px;
}

div.right-profile-col {
  flex: 3 0 0;
}

div.profile-information {
  background-color: white;
  border-radius: 2px;
  box-shadow: 2px 2px 2px lightgrey;
  margin: 15px 10px 10px 10px;

  button {
    margin: 20px 42%;
  }
}

.right-profile-col {

  section.guests {
    color: #41b866;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 2px 2px 2px lightgrey;
    margin: 0 10px 0 10px;
    padding: 10px;
    justify-content: space-around;

    div.not-hosting {
      color: red;
    }
  }
}

.profile-about-me {
  font-size: 24px;
}

.profile-title {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 30px;
  text-align: center;
}

.profile-about-me-information {
  padding: 10px 30px;
}
