body {
  background-color: #e6e6e6;
  color: #27374c
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  z-index: -5;
}

// navbar

.footer {
  background-color: #e6e6e6;
  border-top: 1px solid lightgray;
  bottom: 0;
  font-size: 24px;
  height: 36px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.footer a {
  color: #ed6504;
  margin-left: 10px;
}

.footer a:hover {
  cursor: pointer;
  color: lightgray;
}

.header-container {
  border-bottom: 2px solid lightgray;
  background-color: white;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-logged-in {
  justify-content: center;
  display: flex;
}

.logo {
  color: #ed6504;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 30px;
  padding: 10px 20px;
}

.logo:hover {
  cursor: pointer;
}

.search {
  border-spacing: 0;
  border-collapse: collapse;
  display: flex;
  font-family: 'Lato', sans-serif;
  position: relative;
  top: 14px;
  width: 300px;
}

.search:active {
  border: none;
  outline: none;
}

.search-form {
  display:flex;
  width: 100%;
}

.search-form input {
  border: 3px solid lightgray;
  border-right: none;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  font-size: 18px;
  height: 36px;
  padding: 0 20px;
  width: 79%;
}

.search-form input:focus {
  border: 3px solid lightgray;
  border-right: none;
  outline: none;
}

.search-form button {
  border: 3px solid lightgray;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-left: none;
  border-top-left-radius: 0;
  border-top-right-radius: 20px;
  height: 36px;
  font-size: 18px;
  width: 20%;
}

.search-form button:hover {
  color: gray;
  cursor: pointer;
}

.search-form button:focus {
  border: 3px solid lightgray;
  border-left: none;
  outline: none;
}

.search-form {
  height: 30px;
}

.search-button {
  padding-top: 0;
}

.search-bar {
  color: #929dad;
}

.navbar-right {
  align-items: center;
  box-sizing: border-box;
  color: #929dad;
  display: flex;
  flex-direction: row;
  font-weight: lighter;
  justify-content: space-between;
  text-transform: uppercase;
}

.navbar-right li {
  display: flex;
  font-size: 14px;
  padding: 10px 20px;
}

.navbar-right li span {
  cursor: pointer;
}

.navbar-right li span:hover {
  color: #ed6504;
}

.color-button,
.clear-button {
  border: 1px solid #287fb8;
  font-size: 14px;
  font-weight: bold;
  max-width: 100px;
  padding: 10px 30px;
  text-transform: capitalize;
}

.color-button {
  background-color: #287fb8;
  color: white;
}

.color-button-login:hover,
.color-button:hover {
  background-color: #6288a5;
  cursor: pointer;
}

.clear-button {
  background-color: white;
  color: #287fb8;
}

.clear-button:hover,
.clear-button-login:hover {
  background-color: lightgray;
  cursor: pointer;
}

.color-button-login {
  background-color: #287fb8;
  color: white;
  font-weight: bold;
}

.clear-button-login {
  background-color: white;
  border: 1px solid #287fb8;
  color: #287fb8;
  font-weight: bold;
}

// login

.login-form-container,
.signup-form-container {
  border-radius: 8px;
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  top: 100px;
}

.signup-form-container {
  height: 500px;
}

.login-form {
  margin-right: 0;
}

.login-head {
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.login-head div{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.session-errors{
  animation-name: shake;
  animation-duration: .5s;
  color: red;
  flex-direction: column;
  font-size: 12px;
  text-align:center;
}

.session-errors ul {
  width:100%;

}

.login-form-close {
  position: relative;
  color: gray;
  cursor: pointer;
  line-height: 1;
  font-size: 26px;
  font-style: none;
  left: 0px;
  margin-right: 10px;
  padding: 10px;
  top: 0px;
}

.login-form-close:hover {
  color: #f00;
}

.login-form-box h4 {
  display: flex;
  padding: 10px;
}


.login-form input {
  position: relative;
  width: 80%;
  padding: 10px;
  margin: 5px 5%;
  border: 1px solid lightgray;
}

.login-form input:hover {
  border-radius: 1px solid lightgray;
}

.user-location {
  -webkit-appearance: none;
  width: 85%;
  padding: 10px;
  margin: 5px 5%;
  box-shadow: 0;
  border: 1px solid lightgray;
  border-radius: none;
  color: gray;
  background-color: white;
}

.login-alternative {
  font-size: 14px;
  color: gray;
  text-align: center;
}

.login-alternative span {
  text-align: center;
}

// splash page

// title

.clone-screen {
  display: block;
  font-size: 20px;
  padding: 10px;
}

.splash {
  min-width: 1000px;
}

.splash-title {
  background-size: cover;
  background-position: bottom -1px right 0px;
  height: 800px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(https://images.unsplash.com/photo-1446160657592-4782fb76fb99?auto=format&fit=crop&w=1349&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  justify-content: center;
  text-align: center;
  font-weight: lighter;
  color: #fb7210;
  background-clip: border-box;
}

.splash-title h1 {
  font-size: 56px;
}

.splash-title h4 {
  font-size: 24px;
}

//why join?
.why {
  background-color: #287fb8;
  height: 800px;
}

.why h1 {
  justify-content: center;
  color: white;
  font-size: 56px;
  text-align: center;
  font-weight: lighter;
}

.underline {
  width: 50px;
  color: white;
  margin-bottom: 1em;
  height: 2px;
  background-color: white;
}

.why ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: .9em;
  min-width: 950px;
}

.why ul li {
  margin: 5px;
  padding: 30px;
  background: #3e99d5;
  width: 27%;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  min-height: 440px;
}

.why ul li h6,
.why ul li p {
  justify-content: center;
  color: white;
  font-size: 1em;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.why ul li p {
  font-weight: lighter;
  font-size: 15px;
}

.why ul li img {
  margin: 10px;
  display: block;
  margin-bottom: 1em;
  right: 5px;
  height: 35%;
  width: 90%;
  margin-right: 0;
}

// how it works

.how-it-works {
  background-color: #ed6504;
  height: 1000px;
}

.how-it-works h1 {
  justify-content: center;
  color: white;
  font-size: 56px;
  text-align: center;
  font-weight: lighter;
}

.underline {
  width: 50px;
  color: white;
  margin-bottom: 1em;
  height: 2px;
  background-color: white;
}

.how-it-works ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: .9em;
  min-width: 950px;
}

.how-it-works ul li {
  margin: 5px;
  padding: 30px;
  background: #ff855c;
  width: 25%;
  position: relative;
  top: 10px;
  height: 280px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

.how-it-works ul li h6,
.how-it-works ul li p {
  justify-content: center;
  color: white;
  font-size: 1em;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.how-it-works ul li p {
  font-size: 1em;
}

.how-it-works ul li img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1em;
  right: 5px;
  height: 30%;
  width: 36%;
  align-items: center;
}

table.benefits {
  padding-top: 30px;
  color: white;
  display: block;
  font-weight: lighter;
  box-sizing: border-box;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  border-spacing: 0;
}

.benefits th {
  padding: 8px 30px;
}

.benefits td {
  padding: 8px 30px;
  margin-left: 3px;
  margin-right: 3px;
}

.table-left {
  text-align: left;
  padding: 8px 30px;
}

.table-mid-col,
.table-mid-col-top,
.table-mid-col-bottom {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

table.benefits tr:nth-of-type(2n) {
  background-color: #FF7F00;
}

.table-mid-col-top {
  border-radius: 4px 4px 0 0;
  border-top: 1px solid white;
}

.table-mid-col-bottom {
  border-bottom: 1px solid white;
  border-radius: 0 0 4px 4px;
  padding-bottom: 5px;
}

// dashboard

.dashboard {
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;

}

.dashboard h1 {
  display: inline-block;
  font-size: 36px;
}

.dashboard h4 {
  font-weight: lighter;
}

.home {
  border-bottom: 1px solid gray;
}

.dashboard section {
  background: white;
  display: flex;
  flex-direction: column;
  margin: 5px;
  box-shadow: 2px 2px 2px lightgray;
  border-radius: 2px;
  min-width: 200px;
  height: 55%;
}

.home {
  border-bottom: 1px solid lightgray;
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
}

.dashboard h2 {
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  padding: 15px  0 15px 25px;
}

.dashboard:nth-child(n+1) {
  margin: 5px 0;
}

.user-dashboard{
  margin-top: 10px;
}

.user {
  padding: 10px 10px;
  display: flex;
  flex: 1 0 0;
  width: 320px;
  align-items: center;
  text-transform: capitalize;
  text-align: center;
}

.user img {
  position: relative;
  text-align: center;
  height: 50%;
  width: 50%;
  margin: 0 25%;
}

.user h3:nth-of-type(2) {
  text-align: center;

  width: 100%;
  padding: 0 0 25px 0;
}

.user-dashboard {
  margin-top: 0px;
}

.information {
  display: block;
  width: 100%;
  flex: 3 0 0;
  min-width: 250px;
}

.information section {
  height: 220px;
  list-style: none;
  font-size: 20px;
}

.dash-title {
  border-bottom: 1px solid #e6e6e6;
  width: 110%;
  padding: 10px 30px;
}

.box-about-me {
  // display: flex;
  // flex-direction: row;
  // position: relative;
}

.user-attributes {
  display: flex;
  flex-direction: row;
}

.personal-user-information {
  width: 20%;

}


.personal-user-information {
  font-size: 14px;
  margin: 0 30px;
}

.personal-user-information h4 {
  font-size: 16px;
  font-weight: bold;
}

.personal-about-me-information {
  position: relative;
  text-align: left;
  font-size: 14px;
  width: 60%;
  bottom: 20px;
}

.personal-about-me-information button {
  float: right;
  position: relative;

}

.dash-title:hover {
  color: #ed6504;
}

.spot-preview {
  position: absolute;
  display: flex;
  flex-direction: row;
  font-size: 1em;
  font-weight: bolder;
  color: white;
}

.spot-preview li span {
  position: absolute;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  width: 50%;
}

.spot-preview li {
  height: 120px;
  padding: 20px;
  top: 0px;
}

.grid-items {

}

.spot-preview-item {
  width: 30%;
  text-align: center;
}

.spot-preview-item img {
  height: 100%;
  bottom: 50px;
}

// booking preview
.booking-preview {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.booking-preview section {
  background: none;
  box-shadow: none;
  height: 50%;
}
.booking-preview-item {
  position: relative;
  display: block;
  border-bottom: none;
  margin: 10px;
  width: 100%;
}

.booking-preview-item h3 {
  font-weight: bolder;
  color: black;
  text-transform: capitalize;
}

// spot show hosts

.single-spot-show {
  display: flex;
  flex-direction: column;
}

.spot-show-image {
  width: 100%;
  position: relative;
  height: 200px;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: .9;
}

.single-spot-show h1 {
  position:absolute;
  top: 130px;
  color: white;
  font-size: 4em;
  text-shadow: 1px 1px  5px black;
  text-transform: uppercase;
  margin-left: 70px;
}

.spot-index-link {
  background: rgba(0,0,0,.3);
  position: relative;
  bottom: 30px;
  text-align: right;
  padding: 5px 10px;
}

.hosts-list {
  margin: 10px 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 400px;
}

.hosts-list li {
  background-color: white;
  width: 49%;
  margin-bottom: 2%;
  box-shadow: 2px 2px 2px lightgray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hosts-list li:nth-of-type(2n) {
  margin-left: 2%;
}

.hosts-list li img {
  height: 100%;
  width:  100%;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.user-image {
  height: 150px;
  width: 150px;
}

.hosts-list li div {
  width: 43%;
}

.host-info {
  padding: 10px 20px;
}

.host-info h3 {
  font-weight: bold;
}

.host-about-me p {
  position: relative;
  width: 200%;
  padding: 10px 10%;
}

// profile


.about-me div {
  display: flex;
}

.personal-user-information {
  padding: 10px 20px;
}

.personal-about-me-information {
  padding-top: 50px;
}

//Locations
.locations h1 {
  font-size: 36px;
  color: #27374c;
  font-weight:lighter;
  padding: 2% 10%;
  text-shadow: 1px 1px lightgray;
}

.spots-index {
  font-size: 20px;
  background-color: white;
  text-align: center;
  width: 98%;
  margin-left: 1%;
  box-shadow: 3px 3px 3px lightgray;
  min-width: 750px;
}

.spots-index > ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2%;
}

.spot-index-item {
  width: 45%;
  padding: 0px 2%;
  text-decoration: none;
  color: white;
  padding-top: none;
}

.spot-index-item img {
  height: 80%;
  box-shadow: 1px 1px 1px lightgray;
}

.spot-index-item-location {
  color: white;
  text-transform: capitalize;
  position: relative;
  top: 80px;
  right: 50px;
  text-shadow: 1px 1px black;
  z-index: 3;
  font-weight: bolder;
}

// spot show page
// .spot-name {
//   background-image: url(https://images.unsplash.com/photo-1495579525815-b742aa69eaf1?auto=format&fit=crop&w=963&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
//   background-size: cover;
//   height: 300px;
// }
.single-spot-show {
}

.user-search, .user-count {
  background-color: white;
  box-shadow: 2px 2px 2px lightgray;
  display: block;
  margin-left: 70px;
  margin-right: 70px;
  height: 240px;
  min-width: 400px;
}

.user-search-header {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  font-size: 16px;
  padding: 0px 20px;
  margin-bottom: 10px;
}

.user-search-header li {
  padding: 20px 0px;
  cursor: pointer;
}

.user-search-header li:first-of-type {
  color: #ed6504;
  border-bottom: 2px solid #ed6504;
  margin-right: 20px;
}

.user-params div {
  float: left;
  width: 46%;
  padding: 4px 1.5%;
  margin-right: 1%;
}

.user-search form span {
  color: #929dad;
  text-transform: uppercase;
  display: block;
  padding: 5px 0;
}

.user-search-form form span input,
.email input,
.username input {
  border-radius: 3px;
  border: 1px solid #929dad;
  width: 100%;
  padding: 10px 0 10px 2%;
  text-align: center;
  font-size: 16px;
}

.username, .email {
  width: 100%;
}

.number-travelers {
  display: inline-block;
  width: 100%;
  padding: 4px 1.5%;
}

.num-travelers {
  -webkit-appearance: none;
  display: block;
  border: 1px solid #bfcad2;
  border-radius: 4px;
  box-shadow: none;
  padding: 8px;
  font-size: 1.2em;
  color: inherit;
  width: 100%;
  background-color: white;
  border: 1px solid #929dad
}

.booking-form-button {
  margin: 20px 15px;
  float: right;
}

.search-color-button {
  text-transform: capitalize;
  font-size: 14px;
  padding: 10px 30px;
  border: 1px solid #287fb8;
  background-color: #287fb8;
  color: white;
  font-weight: bold;
  margin: 0 5px;
}

.search-color-button:hover {
  cursor: pointer;
  background-color: #6288a5;
}

// .grey-color-button {
//   text-transform: capitalize;
//   font-size: 14px;
//   padding: 10px;
//   max-width: 100px;
//   border: 1px solid #afb7c3;
//   background-color: #afb7c3;
//   color: white;
//   margin-right: 5px;
// }
//
// .grey-color-button:hover {
//   cursor: pointer;
//   background-color: gray;
// }

// number of people

.user-count {
  background-color: #f9f9f9;
  height: 30px;
  font-size: 16px;
  color: gray;
  padding: 10px 20px;
}

// user list

// booking index page

.bookings {
  display: flex;
  flex-direction: row;

}

.bookings section {
  width: 100%;
  padding: 0px 20px;
  margin: 10px;
}

.bookings-index {
  flex: 5 0 0;
  background-color: white;
  box-shadow: 2px 2px 2px lightgray;
  min-width: 600px;
}

.bookings-index h1 {
  font-size: 20px;
  font-weight: bolder;
  border-bottom: 1px solid lightgray;
  padding: 10px 10px 15px 5px;
}

.bookings-index ul li h2 {

  font-size: 18px;
  font-weight: bolder;
  color: black;

}

.bookings-index ul li {
  margin: 20px 0 20px 10px;
  border-bottom: 1px solid lightgray;
}

.bookings-index ul li:last-of-type {
  border-bottom: none;
}

.booking-index-item {
  display: flex;
  justify-content: space-between;
}

.booking-index-item div {
  display: inline-block;
  width: 30%
}

.booking-index-item button {
  float: right;
  margin-right: 20%;
}

.booking-description {
  padding: 0 80px;
}

.arr-dep-book div {
  padding: 0 10px;
}

.hosted {
  display: block;
  position: relative;

}

.hosted h3 {
  position: relative;
  float: right;
  margin-right: 20%;
  margin-bottom: 30px;
}

// create modal

.create-trip {
  background-color: white;
  box-shadow: 2px 2px 2px lightgray;
  flex: 1 0 0;
  height: 100px;

  text-align: center;
}

.create-trip h3 {
  color: #ed6504;
  text-transform: uppercase;
  font-size: 14px;
  margin: 10px 0;
}

// create booking modal
.booking-form-box nav {
  background-color: lightgray;
  font-size: 18px;
}

.booking-form-box nav h4 {
  margin: 10px 0 0 5px;
}

.booking-form {
  padding: 0 20px;
}
.booking-location {
  width: 97%;
  padding: 10px 5px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.booking-form label {
  font-size: 16px;
}

.booking-location {
  width: 98%;
  color: gray;
  border: 1px solid lightgray;

}

.booking-input {
  width: 96%;
  color: gray;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px 5px;
}

.booking-submit {
  background-color: #ecf0f1;
  width: 100%;
  position: relative;
  display: block;
}

.booking-submit button {
  padding: 10px;
  font-size: 16px;
  margin: 15px 20px;
  color: white;
}

.create-button {
  color: #444;
  background-color: #41b866;
}

.create-button:hover {
  background-color: #64c883;
  cursor: pointer;
}

.booking-cancel {
  background-color: #bfcad2;
}

.booking-cancel:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

// search results

// spot search results
.search-results {
  min-width: 750px;
}

.search-results div {
  background-color: white;
  box-shadow: 2px 2px 2px gray;
  margin: 10px;
}

.search-results div h2 {
  font-size: 20px;
  font-weight: bolder;
  border-bottom: 1px solid lightgray;
  padding: 20px 10px 20px 40px;
}

.search-results div ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-results div ul div {
  box-shadow: none;
}

.search-results div ul li {
  padding: 0px 2.5%;
  width: 45%;
}

.search-results div ul li span {
  font-size: 20px;
  position: relative;
  top: 70px;
  right: 0;
  left: 30%;
  font-weight: bolder;
}

.user-search-result-item {
  box-shadow: none;
  display: flex;
  flex-direction: row;
  width: 30%;
}

.user-search-result-item div {
  width: 30%;
}

.basic-user-info {
  padding: 20px;
}

.basic-user-info h3 {
  font-weight: bolder;
}

.basic-user-info p {
  margin: 5px 0 10px 10px;
}

// empty

.empty {
  padding: 10% 20%;
  font-size: 28px;

}

.no-trips {
  color: lightgray;
  padding: 20px;
}
